@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "anonymous";
    var notifications = await notificationService.GetNotificationsAsync(userId);
}
<div class="dropdown">
    <button id="notification-dropdown-button" class="btn-dropdown" data-type="dropdown" data-target="#notification-dropdown">
        <i class="bi bi-bell"></i>
        @if (notifications.Any())
        {
            <div class="red-dot"></div> 
        }
    </button>

    <ul id="notification-dropdown" class="dropdown-menu">

        <li class="dropdown-header">
            <p>Notifications</p>
            <p class="dropdown-header-number">@notifications.Count()</p>
        </li>

        @foreach (var notification in notifications)
        {
            <li class="dropdown-item" data-id="@notification.Id">
                <div class="dropdown-item-image">
                    <img src="@notification.Image" alt="Notification-Image">
                </div>
                <div class="dropdown-item-text">
                    <p class="dropdown-item-header">@notification.Message</p>
                    <p class="dropdown-item-footer" data-created="@notification.Created.ToString("s")">@notification.Created</p>
                </div>
                <button class="btn-exit" onclick="dismissNotification('@notification.Id')">
                    <i class="bi bi-x"></i>
                </button>
            </li>
        }
    </ul>
</div>

@await Html.PartialAsync("_NotificationScripts")