@model ProjectViewModel
@{
    Layout = "_LayoutPortal";
    ViewData["Title"] = "Projects";
}

<partial name="Partials/Sections/_AddProjectForm" />
<partial name="Partials/Sections/_EditProjectForm" />
<partial name="Partials/Sections/_RemoveProjectForm" />
<partial name="Partials/Sections/_AddMemberForm" />

<div class="flex main-title">
    <h2>Projects</h2>
    <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-add"><i class="bi bi-plus-lg"></i>Add Project</button>
</div>

<div class="main-nav">
    <a class="main-nav-item @(Context.Request.Path == "/projects" ? "active": "")" asp-controller="Project" asp-action="Index">All (@Model.TotalProjects)</a>
    <a class="main-nav-item @(Context.Request.Path == "/projects/ongoing" ? "active" : "")" asp-controller="Project" asp-action="Ongoing">Started (@Model.OngoingProjects)</a>
    <a class="main-nav-item @(Context.Request.Path == "/projects/completed" ? "active": "")" asp-controller="Project" asp-action="Completed">Completed (@Model.CompletedProjects)</a>
</div>

<div class="main-content">
    @foreach (var project in Model.Projects)
    {
        @await Html.PartialAsync("Partials/Components/_Main", project)
	}
</div>